<div class="container" id="app">
  <h1 class="text-center col-md-12 mt-4 mb-4" id="name-message">&reg; <a href="https://dolby.io/developers/interactivity-apis/client-sdk/overview">Dolby</a>/<a href="https://www.voxeet.com/">Voxeet</a> Conference by <a href="https://www.linkedin.com/in/abdulmaroof/"> Abdul Maroof </a> &reg;</h1>
  <label class="col-md-3 float-left mt-3 mb-3">Conference ID:</label>
  <input class="form-control-sm col-md-3 mt-3 mb-3" id="conference-input" name="conference-input" type="text" [(ngModel)]="conferenceName"
         placeholder="Your conference name"/>

  <div class="clear-fix"></div>

  <label class="col-md-3 mt-3 mb-3">Your name:</label>
  <input class="form-control-sm col-md-3 mt-3 mb-3" id="name" name="name" [(ngModel)]="name" value="Abdul Maroof" placeholder="Your name"/>
  <div class="clear-fix"></div>

  <label class="col-md-3 mt-3 mb-3">Enter message to broadcast:</label>
  <input class="form-control-sm col-md-3 mr-5" id="message" name="message" [(ngModel)]="message" placeholder="Message"/>
  <button class="btn btn-primary col-md-2 m-2" [disabled]="!callJoined" id="broad-cast-message" (click)="broadCastMessage();">Broadcast Message</button>

  <div class="clear-fix"></div>

  <button class="col-md-2 m-2" id="join-btn" [disabled]="inProgress"  [ngClass]="!callJoined ? 'btn btn-success' : 'btn btn-danger'" (click)="!callJoined ? joinCall() : leaveCall();">{{!callJoined ? 'Join as broadcaster' : 'Leave Call'}}</button>
  <button class="col-md-2 m-2" [ngClass]="!videoEnabled ? 'btn btn-success' : 'btn btn-danger'" [disabled]="!callJoined || inProgress" id="start-video-btn" (click)="!videoEnabled ? startVideo() : leaveVideo();">{{!videoEnabled ? 'Start Video' : 'Stop video'}}</button>
  <button class="col-md-2 m-2" [ngClass]="audio ? 'btn btn-success' : 'btn btn-danger'" [disabled]="!callJoined || inProgress" id="mute-audio" (click)="muteYourself();">{{audio ? 'Mute' : 'Unmute'}}</button>
  <button class="col-md-2 m-2" [ngClass]="!screenShared ? 'btn btn-success' : 'btn btn-danger'" [disabled]="!callJoined || inProgress" id="start-screen-share" (click)="!screenShared ? startScreenShare() : stopScreenShare();">{{!screenShared ? 'Start Screen Share' : 'Stop Screen share'}}</button>
  <button class="col-md-2 m-2" [ngClass]="!recordingStarted ? 'btn btn-success' : 'btn btn-danger'" [disabled]="!callJoined || inProgress" id="start-recording" (click)="!recordingStarted ? startRecording(): stopRecording();">{{!recordingStarted ? 'Start Recording' : 'Stop Recording'}}</button>
  <button class="col-md-2 m-2" [ngClass]="(!callJoined || !listener) ? 'btn btn-success' : 'btn btn-danger'" [disabled]="callJoined || inProgress" id="listen-conference" (click)="listenConference();">Join as Listner</button>
  <!--<button class="col-md-2 m-2" [ngClass]="(!callJoined || !listener) ? 'btn btn-success' : 'btn btn-danger'" [disabled]="!callJoined || (callJoined && !listener) || inProgress" id="invite-participant" (click)="inviteParticipantToBecomeBroadCaster()">Upgrade Listener to Broadcaster</button>-->
   <div class="clear-fix m-5"></div>
  <div [hidden]="!callJoined" id="video-container"></div>
  <div [hidden]="!callJoined" id="screenshare-container"></div>
  <div [hidden]="!callJoined" id="participants">
    <h3>Participants</h3>
    <ul id="participants-list"></ul>
  </div>

</div>
<router-outlet></router-outlet>
